body {
    font-family: 'Overpass', sans-serif;
}

.container {
    max-width: 800px;
}

dfn, h1{
    font-family: 'Bungee', sans-serif;
    font-size: 2.4em;
    font-style: normal;
}

h1{
    font-size: 3.6em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: .6em;
}

dd {
    -webkit-margin-start: 0;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 300;
}

p {margin-bottom: 0;}


.checklist {
  width: auto;
  margin: 0;
  padding: 0;
}

.checklist li {
  list-style: none;
  margin: 20px 0 5px 0;
  color: #bbb;
  border-radius: 5px;
  display: inline-block;
}

.checklist li label {
    padding: 40px;
}

.checklist li[data-checked="true"] label {
  background-color: rgba(0,255,0,0.1);
  color: #117711;
}

.checklist li input {
  float: left;
}

.checklist li div.item {
  font-weight: bold;
  margin: 0 0 0 25px;
}

.checklist li div.description {
  font-weight: normal;
  font-size: 12px;
  color: #333;
  margin: 0 0 0 25px;
}



input[type=checkbox] {
  font-size: 24px;
  position: relative;
  border: 6px solid #bbb;
  width: 1.6em;
  height: 1.6em;
  -webkit-appearance: none;
}

input[type=checkbox]:active {
    background: rgba(0,0,0,1);
    border-color:rgba(0,0,0,1);
    transition: .05s;
}

input[type=checkbox]:checked:active {
    background: rgba(0,0,0,1);
    border-color:rgba(0,0,0,1);
    transition: .05s;
}

input[type=checkbox]:checked:active::after {
    /*border-color:rgba(0,0,0,1) !important;*/
    -webkit-box-shadow: -6px 6px 0 rgba(0,0,0,1);
    transition: .05s;
}


input[type=checkbox]:focus {
    outline: 0;
}

input[type=checkbox]:checked, input[type=checkbox]:checked::after{
    border-color:rgba(0,128,0,1);
}

input[type=checkbox]:checked::after {
  position: absolute;
  content: '';
  left: 5%;
  top: -60%;
  height: 60%;
  width: 160%;
  -webkit-box-shadow: -6px 6px 0 rgba(0,128,0,1);
  -webkit-transform: rotate(-45deg);
}

label {background-color: rgba(0,0,0,0.01); margin-bottom: 0;}
label:hover{background: rgba(0,255,0,0.1); box-shadow: 0 2px 1px 1px rgba(0,0,0,.15); margin-top:-3px; margin-bottom:3px; transition-property: background, box-shadow, margin; transition-duration: .1s;}
label:active{color: rgba(0,0,0,1)!important; transition: .05s;}

/* TALKIN BOUT MINIMAPS SON */

.miniregion{
    /*border-color:green;*/
    border: 0;
    background: rgba(0,0,0,.15);
    border-radius:0;
    transition: .05s;
    height:20px !important;
    transition-property: background, height, margin-top ;
    width:50%;
}

.miniregion:hover, .miniregion:active{
    background: rgba(0,0,0,1);
    height:40px !important;
    box-sizing: border-box;
    margin-top: -10px !important;
    box-shadow: none;
}

.miniregion:hover:before, .miniregion:active:before, .miniregion:hover:after, .miniregion:active:after {
    color: rgb(0,0,0);
    opacity: 1;
}


.miniregion:before{
    content: '\25b2';
    top: -55px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 40px;
    opacity: .15;
    color: black;
    transform:scale(1.5,1);

}

.miniregion:after{
    content: '\25bc';
    bottom: -63px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 40px;
    opacity: .15;
    color: black;
    transform:scale(1.5,1);

}

.minimap {
    box-shadow: inset 0 0 2000px rgba(0,0,0,.02);
}

.minimap .container {
    box-shadow: inset 0 0 2000px rgba(0,0,0,.02);
}




dt {
    margin-right: 20px;
}

dfn {
    line-height: 1.15em;
}

.checklist li input {
    float: left;
    margin-right: 18px;
}

label p {
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.6em;
    clear:both;
}
.checklist li input, dt {display: inline;}

.container{
    max-width: 1000px;
}
@media (min-width: 1000px) {
    .checklist{columns:2;}
    .checklist li input {display: inline}
    dfn{display: inline; float:none;}
}
